In [1]:
import time
import multiprocessing
def is_prime(n):
      if (n <= 1) : 
          return 'not a prime number'
      if (n <= 3) : 
          return 'prime number'
          
      if (n % 2 == 0 or n % 3 == 0) : 
          return 'not a prime number'
    
      i = 5
      while(i * i <= n) : 
          if (n % i == 0 or n % (i + 2) == 0) : 
              return 'not a prime number'
          i = i + 6
    
      return 'prime number'
def multiprocessing_func(x):
    time.sleep(2)
    print('{} is {} number'.format(x, is_prime(x)))
    
if __name__ == '__main__':
    starttime = time.time()
    processes = []
    for i in range(1,10):
        p = multiprocessing.Process(target=multiprocessing_func, args=(i,))
        processes.append(p)
        p.start()
        
    for process in processes:
        process.join()
        
    print()    
    print('Time taken = {} seconds'.format(time.time() - starttime))

1 is not a prime number number
2 is prime number number
3 is prime number number
4 is not a prime number number
5 is prime number number
6 is not a prime number number
7 is prime number number
8 is not a prime number number
9 is not a prime number number

Time taken = 2.044689178466797 seconds

In [2]:
import time
import multiprocessing
def is_prime(n):
      if (n <= 1) : 
          return 'not a prime number'
      if (n <= 3) : 
          return 'prime number'
          
      if (n % 2 == 0 or n % 3 == 0) : 
          return 'not a prime number'
    
      i = 5
      while(i * i <= n) : 
          if (n % i == 0 or n % (i + 2) == 0) : 
              return 'not a prime number'
          i = i + 6
    
      return 'prime number'
def multiprocessing_func(x):
    time.sleep(2)
    print('{} is {} number'.format(x, is_prime(x)))
    
if __name__ == '__main__':
    starttime = time.time()
    pool = multiprocessing.Pool()
    pool.map(multiprocessing_func, range(1,10))
    pool.close()
    print()
    print('Time taken = {} seconds'.format(time.time() - starttime))

5 is prime number number
6 is not a prime number number
8 is not a prime number number
4 is not a prime number number
2 is prime number number
3 is prime number number

Time taken = 2.0724148750305176 seconds
1 is not a prime number number
7 is prime number number
9 is not a prime number number

In [25]:
import pandas as pd
df=pd.read_csv('/Users/smullangi/Desktop/github/fabric-prediction-engines/classification/data/bank-marketing/test.csv')

In [28]:
df.

      age          job  marital            education  default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed class
0      56     services  married          high.school       no      no  yes  telephone   may         mon       307         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0    no
1      45     services  married             basic.9y  unknown      no   no  telephone   may         mon       198         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0    no
2      59       admin.  married  professional.course       no      no   no  telephone   may         mon       139         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0    no
3      24   technician   single  professional.course       no     yes   no  telephone   may         mon       380         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0    no
4      29  blue-collar   single          high.school       no      no  yes  telephone   may         mon       137         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0    no
...   ...          ...      ...                  ...      ...     ...  ...        ...   ...         ...       ...       ...    ...       ...          ...           ...             ...            ...        ...          ...   ...
8385   34      student   single              unknown       no     yes   no   cellular   nov         thu       180         1    999         2      failure          -1.1          94.767          -50.8      1.031       4963.6    no
8386   37       admin.  married    university.degree       no     yes   no   cellular   nov         fri       281         1    999         0  nonexistent          -1.1          94.767          -50.8      1.028       4963.6   yes
8387   29   unemployed   single             basic.4y       no     yes   no   cellular   nov         fri       112         1      9         1      success          -1.1          94.767          -50.8      1.028       4963.6    no
8388   46  blue-collar  married  professional.course       no      no   no   cellular   nov         fri       383         1    999         0  nonexistent          -1.1          94.767          -50.8      1.028       4963.6    no
8389   56      retired  married    university.degree       no     yes   no   cellular   nov         fri       189         2    999         0  nonexistent          -1.1          94.767          -50.8      1.028       4963.6    no

[8390 rows x 21 columns]

In [22]:
import time
import concurrent.futures
from PIL import Image, ImageFilter

img_names = [
    'photo-1516117172878-fd2c41f4a759.jpg',
    'photo-1532009324734-20a7a5813719.jpg',
    'photo-1524429656589-6633a470097c.jpg',
    'photo-1530224264768-7ff8c1789d79.jpg',
    'photo-1564135624576-c5c88640f235.jpg',
    'photo-1541698444083-023c97d3f4b6.jpg',
    'photo-1522364723953-452d3431c267.jpg',
    'photo-1513938709626-033611b8cc03.jpg',
    'photo-1507143550189-fed454f93097.jpg',
    'photo-1493976040374-85c8e12f0c0e.jpg',
    'photo-1504198453319-5ce911bafcde.jpg',
    'photo-1530122037265-a5f1f91d3b99.jpg',
    'photo-1516972810927-80185027ca84.jpg',
    'photo-1550439062-609e1531270e.jpg',
    'photo-1549692520-acc6669e2f0c.jpg'
]

t1 = time.perf_counter()

size = (1200, 1200)


def process_image(img_name):
    img = Image.open(img_name)

    img = img.filter(ImageFilter.GaussianBlur(15))

    img.thumbnail(size)
    img.save(f'processed/{img_name}')
    print(f'{img_name} was processed...')
    


with concurrent.futures.ThreadPoolExecutor() as executor:
    executor.map(process_image, img_names)


t2 = time.perf_counter()

print(f'Finished in {t2-t1} seconds')

photo-1516117172878-fd2c41f4a759.jpg was processed...
photo-1507143550189-fed454f93097.jpg was processed...
photo-1516972810927-80185027ca84.jpg was processed...
photo-1524429656589-6633a470097c.jpg was processed...
photo-1522364723953-452d3431c267.jpg was processed...
photo-1530122037265-a5f1f91d3b99.jpg was processed...
photo-1530224264768-7ff8c1789d79.jpg was processed...
photo-1532009324734-20a7a5813719.jpg was processed...
photo-1564135624576-c5c88640f235.jpg was processed...
photo-1549692520-acc6669e2f0c.jpg was processed...
photo-1550439062-609e1531270e.jpg was processed...
photo-1513938709626-033611b8cc03.jpg was processed...
photo-1541698444083-023c97d3f4b6.jpg was processed...
photo-1504198453319-5ce911bafcde.jpg was processed...
photo-1493976040374-85c8e12f0c0e.jpg was processed...
Finished in 3.456023232000007 seconds

In [14]:
!pwd

/Users/smullangi/raw

In [24]:
import os
os.chdir("/Users/smullangi")

In [16]:
img = Image.open('photo-1549692520-acc6669e2f0c.jpg')

In [23]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [29]:
import concurrent.futures
import time

start = time.perf_counter()


def do_something(seconds):
    print(f'Sleeping {seconds} second(s)...')
    time.sleep(seconds)
    return f'Done Sleeping...{seconds}'


with concurrent.futures.ProcessPoolExecutor() as executor:
    secs = [5, 4, 3, 2, 1]
    results = executor.map(do_something, secs)

    # for result in results:
    #     print(result)

finish = time.perf_counter()

print(f'Finished in {round(finish-start, 2)} second(s)')

Sleeping 5 second(s)...
Sleeping 4 second(s)...
Sleeping 3 second(s)...
Sleeping 2 second(s)...
Sleeping 1 second(s)...
Finished in 5.09 second(s)

In [30]:
employees = ['Corey', 'Jim', 'Steven', 'April', 'Judy', 'Jenn', 'John', 'Jane']

gym_members = ['April', 'John', 'Corey']

developers = ['Judy', 'Corey', 'Steven', 'Jane', 'April']

if 'Corey' in developers:
    print('Found!')

Found!

In [34]:
type(developers)

set

In [32]:
developers=set(developers)

In [33]:
developers

{'April', 'Corey', 'Jane', 'Judy', 'Steven'}

In [35]:
developers=dict(developers)

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [ ]:
from datetime import datetime
from multiprocessing.pool import ThreadPool
from itertools import chain
import pandas as pd
import requests
import aiohttp
import asyncio

URL = "https://medium.fabianbosler.de/run"

def fetch_quote(*args):
    try:
        res = requests.get(URL).json()
    except Exception:
        res = 'ERROR'
    return res

def parallel_extraction(threads, samples):
    start = datetime.now()
    res = []
    with ThreadPool(processes=threads) as pool:
        res.extend(pool.map(fetch_quote, range(samples)))

    return res, datetime.now() - start

def sequential_extraction(samples):
    start = datetime.now()
    res = []
    for dt in range(samples):
        res.append(fetch_quote())
    return res, datetime.now() - start


async def sample_asyncio(samples):
    start = datetime.now()

    async def main():
        async with aiohttp.ClientSession() as session:
            async with session.get(URL) as resp:
                return await resp.json()

    results = await asyncio.gather(*[main() for _ in range(samples)])

    return results, datetime.now() - start

if __name__ == '__main__':
    benchmarking_res = []

    for num_samples in chain(range(0, 10,3), range(10, 20, 5), [50], range(100, 2100, 600)):
        for num_threads in [-1, 0, 8, 16, 24, 32, 64, 128]:
            print(f'started with {num_samples} samples and {num_threads} threads')
            if num_threads == -1:
                data, time = asyncio.run(sample_asyncio(num_samples))
            elif num_threads == 0:
                data, time = sequential_extraction(num_samples)
            else:
                data, time = parallel_extraction(num_threads, num_samples)
            errors = len([x for x in data if x == 'ERROR'])

            benchmarking_res.append({
                'num_samples': num_samples,
                'num_threads': num_threads,
                'execution_time': time,
                'errors': errors
            })

    _ = pd.DataFrame(benchmarking_res)
    _.to_csv('results.csv', index=False)
    _ = pd.pivot(_, index='num_samples', columns='num_threads', values='execution_time')
    _.applymap(lambda x: pd.to_timedelta(x)).plot(figsize=(16, 9))